/* Gallery field  */
.field-name-field-gallery .field-item img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease-out;
}
.field-name-field-gallery .field-item:hover img {
    transform: scale(1.2,1.2) rotate(-10deg);
}
.field-name-field-gallery .field-item {
    width: calc((100% - 60px) / 3);
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.24),0 1px 2px rgba(0,0,0,0.48);
    overflow: hidden;
}
.field-name-field-gallery .field-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* FORMS */
.block-system form {
    background: #953638;
    padding: 15px 25px;
    border-radius: 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    max-width: 720px;
    margin: 20px auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: white;
}
/* BLOGS */
.blog-teaser {
    width: 100%;
    background: #eeeeee;
    padding: 20px;
    margin-bottom: 15px;
    min-height: 200px;
}
.blog-teaser:hover {
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.35);
    box-shadow: 0 5px 10px rgba(0,0,0,0.33);
}
.blog-teaser h2 {}
.blog-teaser .field-name-field-image{}
.blog-teaser .field-name-body{}
.blog-teaser .btn-more {}
